# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
.dehash
proj.*/
proj.*.yaml
Makefile.old
__pycache__
myProj_0/
myProj_0.yaml
myProj_1.yaml
myProj_1/
Makefile.new
utils/webApi
build
*.old
.gosprj
cpptext
cpptext/*
libraries/libtelnet/*
