CONFIG_AUTOSTART_ARDUINO=y
# CONFIG_BOOTLOADER_WDT_ENABLE is not set
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP32S2_RTC_CLK_SRC_EXT_CRYS=y
CONFIG_ESP32S2_RTC_CLK_CAL_CYCLES=576
CONFIG_ESP_SLEEP_POWER_DOWN_FLASH=y
CONFIG_FREERTOS_HZ=1000
CONFIG_TFT_ILI9488_DRIVER=y
CONFIG_TFT_MISO=37
CONFIG_TFT_MOSI=35
CONFIG_TFT_SCLK=36
CONFIG_TFT_SPI_FREQUENCY=20000000
CONFIG_TFT_SPI_READ_FREQ=5000000
CONFIG_TFT_CS=33
CONFIG_TFT_DC=34
CONFIG_TFT_RST=7
CONFIG_TFT_BL=21
